version: '3.8'

services:
  syntakserror-mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: syntakserror-mysql
    ports:
      - "3310:3306"  # Host port 3310 mapped to container port 3306
    env_file:
      - .env
    volumes:
      - syntakserror_mysql_data:/var/lib/mysql
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./docker/my.cnf:/etc/mysql/my.cnf
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - syntakserror-net

  # The SvelteKit Application Service
  syntakserror-app:
    build:
      context: .
      # We use an argument to select the Dockerfile stage (dev or prod)
      target: development
    container_name: syntakserror-app
    restart: unless-stopped
    # Use environment variables from the .env file
    env_file:
      - .env
    environment:
      # Either set these here or in a .env file
      API_BASE_URL: "${API_BASE_URL}"
    volumes:
      # In development, this mounts your local code for hot-reloading.
      # In production, this can be commented out or removed.
      - ./.env:/app/.env
      - ./src:/app/src
      - ./static:/app/static
      # Prevents local node_modules from overwriting the container's
      - syntakserror_node_modules:/app/syntakserror_node_modules
    networks:
      - syntakserror-net

  syntakserror-api-backend:
    build:
      context: /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Application
      dockerfile: Dockerfile
      target: development
    #image: sequel-api-backend:${DOCKER_SEQUEL_API_BACKEND}
    container_name: syntakserror-api-backend
    ports:
      - "8090:8090"
      - "5005:5005"
    environment:
      - SPRING_PROFILES_ACTIVE=development
      - ENVIRONMENT=development
      - SPRING_CONFIG_LOCATION=file:/app/application.properties
    depends_on:
      syntakserror-mysql:
        condition: service_healthy
    volumes:
      - syntakserror_backend_data:/var/lib/syntakserror_backend_data
      - /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Application/src:/app/src
      - /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Application/pom.xml:/app/pom.xml
      - /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Application/target:/app/target
      - ./docker/config.properties:/app/config.properties
      - ./docker/config.properties:/app/application.properties
      - ./docker/log4j.xml:/app/log4j.xml
      - ~/.m2:/root/.m2
    restart: unless-stopped
    networks:
      - syntakserror-net

  syntakserror-api-admin:
    build:
      context: /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Admin
      dockerfile: Dockerfile
      target: development
    container_name: syntakserror-api-admin
    ports:
      - "3010:3000"
    environment:
      - BODY_SIZE_LIMIT=15000000
    volumes:
      - syntakserror_api_admin_data:/var/lib/syntakserror_api_admin_data
      - /Users/joachimhaagenskeie/Projects/sequel-api/sequel-api.Admin:/app
    restart: unless-stopped
    networks:
      - syntakserror-net

  #docker.skaperiet.no/repository/skaperiet-docker-repository/sequel-api:${DOCKER_SEQUEL_API_BACKEND}

  # The Nginx Reverse Proxy Service
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443" # Uncomment when you add SSL certificates
    volumes:
      - ./docker/nginx.dev.conf:/etc/nginx/conf.d/default.conf
      - ./docker/ssl/__syntakserror_chain.crt:/etc/nginx/ssl/__syntakserror_chain.crt:ro
      - ./docker/ssl/syntakserror.key:/etc/nginx/ssl/syntakserror.key:ro
      - ./../syntakserror-articles:/var/www/content:ro
    networks:
      - syntakserror-net
    depends_on:
      - syntakserror-app

  syntakserror-minio:
    image: minio/minio:${MINIO_VERSION}
    container_name: syntakserror-minio
    ports:
      - "9010:9000"
      - "9011:9001"
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    volumes:
      - syntakserror_minio:/var/lib/syntakserror_minio
      - /Users/joachimhaagenskeie/Projects/minio/syntakserror_data:/data
    command: server /data --console-address ":9001"
    networks:
      - syntakserror-net


# Define a shared network for containers to communicate
networks:
  syntakserror-net:
    driver: bridge

# Define a named volume for node_modules to persist it
volumes:
  syntakserror_mysql_data:
    name: syntakserror_mysql_data
    driver: local
  syntakserror_node_modules:
    name: syntakserror_node_modules
    driver: local
  syntakserror_backend_data:
    name: syntakserror_backend_data
    driver: local
  syntakserror_api_admin_data:
    name: syntakserror_api_admin_data
    driver: local
  syntakserror_minio:
    name: syntakserror_minio
    driver: local